$ORIGIN sureau.ch.
@       3600 IN SOA dns.sureau.ch. admin.sureau.ch. ( 2026033002 7200 3600 1209600 3600 )
@       3600 IN NS  dns.sureau.ch.

dns     IN A   192.168.10.28
traefik IN A   192.168.10.26

; --- Services passant par le Reverse Proxy ---
mon IN A   192.168.10.26
pve01 IN A   192.168.10.26

; --- Services en accès direct ---
