tls:
  certificates:
    - certFile: /etc/traefik/certs/local.crt
      keyFile: /etc/traefik/certs/local.key

http:
  # On définit le transport pour ignorer les certificats auto-signés internes
  serversTransports:
    ignore-ssl:
      insecureSkipVerify: true

  routers:
    mon-router:
      rule: "Host(`mon.sureau.ch`)"
      service: mon-service
      entryPoints: ["web", "websecure"]
      tls: {}
    pve01-router:
      rule: "Host(`pve01.sureau.ch`)"
      service: pve01-service
      entryPoints: ["web", "websecure"]
      tls: {}

  services:
    mon-service:
      loadBalancer:
        servers:
          - url: "http://192.168.10.98:3000"
    pve01-service:
      loadBalancer:
        serversTransport: ignore-ssl
        servers:
          - url: "https://192.168.10.91:8006"
