# --- Configuration de la base de données (PostgreSQL) ---
PG_USER={{ authentik_db_user | default('authentik') }}
PG_DB={{ authentik_db_name | default('authentik') }}
PG_PASS={{ authentik_db_password | default('ChangerMoiCeMotDePasse123!') }}

AUTHENTIK_POSTGRESQL__HOST=postgresql

# --- Sécurité Authentik (CRITIQUE) ---
AUTHENTIK_SECRET_KEY={{ authentik_secret_key | default('remplace-moi-par-une-cle-securisee-tres-longue') }}

# --- Paramètres de l'instance ---
AUTHENTIK_LISTEN__HTTP=0.0.0.0:8000
AUTHENTIK_LISTEN__HTTPS=0.0.0.0:9443
AUTHENTIK_ERROR_REPORTING__ENABLED=false

# --- Configuration Redis ---
AUTHENTIK_REDIS__HOST=redis

# --- Configuration Email ---

